<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sb.s1.address.AddressDAO">
	<select id="getSelect" parameterType="AddressDTO" resultType="AddressDTO">
		select * from address where id = #{id} and recentuse='Y'
	</select>

</mapper>