<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sb.s1.address.AddressDAO">
	<select id="getSelect" parameterType="AddressDTO" resultType="AddressDTO">
		select * from address where id = #{id} and recentuse='Y'
	</select>
	<select id="getAddressList" parameterType="AddressDTO" resultType="AddressDTO">
		select * from address where id = #{id}
	</select>
	<insert id="addressInsert" parameterType="AddressDTO">
		insert into address values(ADR_ADN_SEQ.nextval, #{address}, #{id}, #{name}, #{phonenum}, 'Y', #{postcode})
	</insert>
	<update id="changeRecent" parameterType="AddressDTO">
		update address set recentuse='N' where id=#{id}
	</update>
	<update id="thisisRecent" parameterType="AddressDTO">
		update address set recentuse='Y' where adrnum=#{adrnum}
	</update>
	<delete id="deleteAddress" parameterType="AddressDTO">
		delete from address where adrnum=#{adrnum}
	</delete>
	<update id="updateForRemove" parameterType="AddressDTO">
		update address set recentuse='Y' where adrnum = 
		(select max(adrnum) from (select * from address where adrnum != #{adrnum}))
	</update>
</mapper>