<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sb.s1.board.BoardDAO">
	<select id="getList" parameterType="Pager" resultType="BoardDTO">
		SELECT subnum,id,regdate,content,subname,boardsp,actdata,visitcount,changeddata FROM (SELECT B.*, ROWNUM RN FROM BOARD B WHERE BOARDSP = #{boardsp}) WHERE RN BETWEEN #{startRow} AND #{endRow} 
	</select>
	<select id="getSelect" parameterType="BoardDTO" resultType="BoardDTO">
		SELECT * FROM BOARD WHERE SUBNUM=#{subnum}
	</select>
	<select id="getTotalcount" parameterType="Pager" resultType="Long">
		SELECT COUNT(SUBNUM) FROM BOARD WHERE BOARDSP = #{boardsp}
	</select>
	<insert id="setBoard" parameterType="BoardDTO">
		INSERT INTO BOARD VALUES(B_SN_SEQ.NEXTVAL, #{id}, SYSDATE, #{content}, 
								#{subname}, #{boardsp}, #{actdata}, 0, #{changeddata})
	</insert>
	<delete id="delBoard" parameterType="BoardDTO">
		DELETE FROM BOARD WHERE SUBNUM = #{subnum}
	</delete>
	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE BOARD SET CONTENT = #{content}, SUBNAME = #{subname}, ACTDATA = #{actdata}, VISITCOUNT = #{visitcount}, 
									BOARDSP=#{boardsp} ,CHANGEDDATA = #{changeddata} WHERE SUBNUM = #{subnum}
	</update>
	<update id="setHit" parameterType="BoardDTO">
		UPDATE BOARD SET VISITCOUNT = #{visitcount}+1 WHERE SUBNUM = #{subnum}
	</update>
</mapper>