<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sb.s1.bookList.BookListDAO">

	

	<select id="getSelect" parameterType="BookListDTO" resultType="BookListDTO">
		select * from booklist where isbn=#{isbn}
	</select>
	
	<select id="getList" resultType="BookListDTO">
		SELECT isbn,bookname,author,bookpub,bookpubdate,price,bookcontent,bookscore FROM 
		(SELECT B.*, ROWNUM RN FROM (select * from booklist where gnumber = #{gNumber}) B) 
	</select>
	
	<select id="getTotalCount" parameterType="Pager" resultType="Long">
		select count(gnumber) from booklist where gnumber=#{gNumber}
	</select>
	


	<select id="searchBookList" parameterType="BookListDTO" resultType="BookListDTO">
		select * from booklist where author=#{author}
	</select>

</mapper>