<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sb.s1.member.MemberDAO">




	<!-- <update id="memberPoint" parameterType="MemberDTO"> update member set 
		point=point+100 where id=#{id} </update> -->
		
		
		
	<select id="memberGrade" parameterType="MemberDTO"
      resultType="MemberDTO">
      
      select sum((purchase.price*10/9)+0) as price, id
      from purchase
      where purdate between ADD_MONTHS(TRUNC(sysdate,'MM'), -2) and sysdate
      and purchase.id = #{id}
      group by purchase.id
      
   </select>
   
   <update id="gradeUpdate" parameterType="MemberDTO">
      update member set
      grade=#{grade}
      where id=#{id}
   </update>
   

	<select id="memberFindPw" parameterType="MemberDTO"
		resultType="MemberDTO">
		select pw from member where email = #{email} and id = #{id}
	</select>

	<select id="memberBoxCheck" parameterType="PurchaseDTO"
		resultType="PurchaseDTO">
		select * from purchase where purnum = #{purnum}
	</select>


	<select id="memberFindID" parameterType="MemberDTO"
		resultType="MemberDTO">
		select id from member where email = #{email}
	</select>


	<delete id="memberDelete" parameterType="MemberDTO">
		delete member where
		id=#{id}
	</delete>

	<update id="memberUpdate" parameterType="MemberDTO">
		update member set
		pw=#{pw}, name=#{name}, email=#{email},
		phonenum=#{phonenum} where
		id=#{id}
	</update>

	<select id="getSelect" parameterType="MemberDTO"
		resultType="MemberDTO">
		select * from member where id = #{id}
	</select>

	<select id="memberLogin" parameterType="MemberDTO"
		resultType="MemberDTO">

		select * from member where id=#{id} and pw=#{pw}
	</select>



	<insert id="memberJoin" parameterType="MemberDTO">
		insert into member
		values(#{id},#{pw},#{name},#{email},#{phonenum},'일반등급',0)
	</insert>



	<select id="memberIdCheck" parameterType="MemberDTO"
		resultType="MemberDTO">
		select id from member where id = #{id}
	</select>











<select id="selectUserInfo" parameterType="MemberDTO" resultType="MemberDTO">
	select id, name, phonenum, email from member where id=#{id}
</select>
	<update id="pointAfterPur" parameterType="MemberDTO">
		update member set point = point+#{point} where id = #{id}
	</update>
</mapper>

