<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.s1.member.membercart.MembercartDAO">
	<resultMap type="MembercartDTO" id="getCartList">
		<id property="cartNum" column="cartnum"/>
		<result property="bookcount" column="bookcount"/>
		<result property="id" column="id"/>
		<result property="isbn" column="isbn"/>
		<association property="bookListDTO" javaType="BookListDTO">
			<id property="isbn" column="isbn"/>
			<result property="bookName" column="bookname"/>
			<result property="price" column="price"/>
			<result property="gNumber" column="gnumber"/>
			<result property="eBookPrice" column="ebookprice"/>
			<result property="bookContent" column="bookcontent"/>
			<result property="bookIdx" column="bookidx"/>
			<result property="bookPub" column="bookpub"/>
			<result property="bookImg" column="bookimg"/>
			<result property="bookScore" column="bookscore"/>
			<result property="author" column="author"/>
			<result property="bookPubDate" column="bookpubdate"/>
			<result property="scorecount" column="scorecount"/>
			<result property="bPoint" column="bpoint"/>
		</association>
	</resultMap>
	<select id="getCartList" parameterType="Pager" resultMap="getCartList">
		select mb.cartNum, mb.bookcount, mb.id, mb.isbn, mb.bookName, mb.price, mb.gNumber, mb.eBookPrice, 
		mb.bookContent, mb.bookIdx, mb.bookPub, mb.bookImg, mb.bookScore, mb.author, mb.bookPubDate, mb.bpoint
		from (select rownum r, m.cartnum, m.bookcount, m.id, b.* from membercart m, booklist b where m.isbn = b.isbn and m.id = #{id} ) mb
	</select>
	<select id="checkBook" parameterType="MembercartDTO" resultType="MembercartDTO">
		select * from membercart where id=#{id} and isbn=#{isbn}
	</select>
	<insert id="addCart" parameterType="MembercartDTO">
		Insert into membercart values(MC_CN_SEQ.nextval, #{bookcount}, #{id}, #{isbn})
	</insert>
	<delete id="delItem" parameterType="MembercartDTO">
		Delete from membercart where id = #{id} and isbn = #{isbn}
	</delete>
	<delete id="deleteList" parameterType="java.util.List">
		Delete from membercart where 
		<foreach collection="list" item="item" separator="or">
			cartnum=#{item}
		</foreach>
	</delete>
	<delete id="deleteListAfterPur" parameterType="java.util.List">
		delete from membercart where 
		<foreach collection="list" item="item" separator="or">
			(id=#{item.id} and isbn=#{item.isbn})
		</foreach>
	</delete>
	<update id="updateCart" parameterType="MembercartDTO">
		update membercart set bookcount = #{bookcount} where id=#{id} and isbn=#{isbn}
	</update>
</mapper>