<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sb.s1.purchase.PurchaseDAO">

	<select id="getList" resultType="purchaseDTO" parameterType="BranchPager">
		select * from
			(select rownum R, P.* from
				(select * from purchase where
					<choose>
						
						<when test="kind == 'Icbn'">
							icbn
						</when>
						
						<when test="kind == 'Price'">
							price
						</when>
						
						<otherwise>
							id
						</otherwise>
					
					</choose>
				like '%' || #{search} || '%' and purnum > 0 order by purnum desc) P)
				where R between #{startRow} and #{endRow}	
	</select>
	
	<select id="getTotalCount" resultType="Long" parameterType="BranchPager">
		select count(purnum) from purchase where
		<choose>
						<when test="kind == 'Icbn'">
							icbn
						</when>
						
						<when test="kind == 'Price'">
							price
						</when>
						
						<otherwise>
							id
						</otherwise>
		</choose>
		like '%' || #{search} || '%' and purnum > 0
	</select>

	<select id="getSelect" parameterType="PurchaseDTO" resultType="PurchaseDTO">
		select * from purchase where purnum=#{purnum}
	</select>
	
	
	

</mapper>