<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sb.s1.response.ResponseDAO">
	<select id="getList" parameterType="Pager" resultType="ResponseDTO">
		SELECT * FROM RESPONSE WHERE SUBNUM=#{subnum}
	</select>
	<select id="getTotal" resultType="Long">
		SELECT COUNT(*) FROM RESPONSE
	</select>
	<insert id="insertResponse" parameterType="ResponseDTO">
		INSERT INTO RESPONSE VALUES(RES_RN_SEQ.NEXTVAL, #{id}, SYSDATE, #{content}, #{subnum}, 0, 0, 0)
	</insert>
	<update id="updateResponse" parameterType="ResponseDTO">
		UPDATE RESPONSE SET CONTENT=#{content} where resnum = #{resnum}
	</update>
	<delete id="delResponse" parameterType="ResponseDTO">
		DELETE (SELECT * FROM RESPONSE WHERE SUBNUM=#{subnum}) 
		WHERE RESNUM between #{resnum} and (select min(resnum) from (select * from
		(select * from response where subnum=#{subnum})
		where depth >= (select depth from response where resnum=#{resnum}) and resnum>= #{resnum}))
	</delete>
</mapper>