<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sb.s1.response.ResponseDAO">
	<select id="getList" parameterType="Pager" resultType="ResponseDTO">
		SELECT * FROM RESPONSE WHERE SUBNUM=#{kind}
	</select>
	<select id="getTotal" resultType="Long">
		SELECT COUNT(*) FROM RESPONSE
	</select>
	<!-- <insert id="insertResponse" parameterType="ResponseDTO">
		INSERT INTO RESPONSE VALUES(RES_RN_SEQ.NEXTVAL, #{id}, SYSDATE, #{content}, #{subnum})
	</insert> -->
	<update id="updateResponse" parameterType="ResponseDTO">
		UPDATE RESPONSE SET CONTENT=#{content}
	</update>
	<update id="insertResponse" parameterType="ResponseDTO">
		UPDATE RESPONSE SET ID="", CONTENT="삭제된 내용입니다." WHERE RESNUM = #{resnum}
	</update>
</mapper>